@font-face {
  font-family: Roboto;
  src: url("../other/Roboto-Bold.ttf");
}
body {
  font-family: Roboto;
  background-color: #eeeeee;
}
.header {
  width: 100%;
  background-color: #fff;
  font-size: 36px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 5px solid #000;
  border-left: none;
  border-right: none;
}
.ptitle {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 20px;
  padding: 7.09px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(150, 150, 150, 0.8);
}
.pPro {
  width: 1000px;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}
@keyframes showPro {
  0% {
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.project {
  width: 250px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-right: 30px;
  animation: showPro 2s;
}
.projectimg {
  width: 180px;
  height: 180px;
  padding-left: 35px;
  padding-right: 35px;
}
.project p {
  font-size: 30px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  color: black;
}
.project a {
  text-decoration: none;
}
@keyframes pro {
  0% {
    width: 180px;
    height: 180px;
    padding-left: 35px;
    padding-right: 35px;
  }
  100% {
    width: 200px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@keyframes nopro {
  0% {
    width: 200px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
  }
  100% {
    width: 180px;
    height: 180px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
.project:hover .projectimg {
  animation: pro 0.5s;
  width: 200px;
  height: 200px;
  padding-left: 25px;
  padding-right: 25px;
}
.project:not(:hover) .projectimg {
  animation: nopro 0.5s;
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
